[submodule "zsh/auto-fu.zsh"]
	path = zsh/auto-fu.zsh
	url = git://github.com/hchbaw/auto-fu.zsh
[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "zaw"]
	path = zaw
	url = git://github.com/zsh-users/zaw.git
