vim/backup/*
vim/undo/*
vim/.VimballRecord
vimperator/info
vim/.netrwhist
vim/doc/tags
vim/doc/tags-ja
vim/bundle/*
vim/bundle/*/doc/tags
vim/bundle/*/doc/tags-ja
*.zwc

nvim/plugin

mlterm/*.log
mlterm/*.six
mlterm/challenge

__pycache__
