[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/snipMate"]
	path = vim/bundle/snipMate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/vimfiler"]
	path = vim/bundle/vimfiler
	url = git://github.com/Shougo/vimfiler.git
[submodule "vim/bundle/neocomplcache"]
	path = vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "vim/bundle/skk"]
	path = vim/bundle/skk
	url = git://github.com/tyru/skk.vim.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git://github.com/vim-scripts/surround.vim.git
[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-quickrun"]
	path = vim/bundle/vim-quickrun
	url = git://github.com/thinca/vim-quickrun.git
[submodule "vim/bundle/vimshell"]
	path = vim/bundle/vimshell
	url = git://github.com/Shougo/vimshell.git
[submodule "vim/bundle/vimproc"]
	path = vim/bundle/vimproc
	url = git://github.com/Shougo/vimproc.git
[submodule "vim/bundle/NERD_tree"]
	path = vim/bundle/NERD_tree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/NERD_commenter"]
	path = vim/bundle/NERD_commenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/gist-vim"]
	path = vim/bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/vim-ref"]
	path = vim/bundle/vim-ref
	url = git://github.com/thinca/vim-ref.git
[submodule "vim/bundle/L9"]
	path = vim/bundle/L9
	url = git://github.com/vim-scripts/L9.git
