[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vimfiler"]
	path = vim/bundle/vimfiler
	url = git://github.com/Shougo/vimfiler.git
[submodule "vim/bundle/neocomplcache"]
	path = vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "vim/bundle/skk"]
	path = vim/bundle/skk
	url = git://github.com/tyru/skk.vim.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git://github.com/vim-scripts/surround.vim.git
[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-quickrun"]
	path = vim/bundle/vim-quickrun
	url = git://github.com/thinca/vim-quickrun.git
[submodule "vim/bundle/vimshell"]
	path = vim/bundle/vimshell
	url = git://github.com/Shougo/vimshell.git
[submodule "vim/bundle/vimproc"]
	path = vim/bundle/vimproc
	url = git://github.com/Shougo/vimproc.git
[submodule "vim/bundle/NERD_tree"]
	path = vim/bundle/NERD_tree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/NERD_commenter"]
	path = vim/bundle/NERD_commenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/gist-vim"]
	path = vim/bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/vim-ref"]
	path = vim/bundle/vim-ref
	url = git://github.com/thinca/vim-ref.git
[submodule "vim/bundle/L9"]
	path = vim/bundle/L9
	url = git://github.com/vim-scripts/L9.git
[submodule "vim/bundle/unite"]
	path = vim/bundle/unite
	url = git://github.com/Shougo/unite.vim.git
[submodule "vim/bundle/vim-smartchr"]
	path = vim/bundle/vim-smartchr
	url = git://github.com/kana/vim-smartchr.git
[submodule "vim/bundle/vim-grep"]
	path = vim/bundle/vim-grep
	url = git://github.com/vim-scripts/grep.vim.git
[submodule "vim/bundle/unite-help"]
	path = vim/bundle/unite-help
	url = git://github.com/tsukkee/unite-help.git
[submodule "vim/bundle/unite-gem"]
	path = vim/bundle/unite-gem
	url = git://github.com/ujihisa/unite-gem.git
[submodule "vim/bundle/unite-grep"]
	path = vim/bundle/unite-grep
	url = git://github.com/Sixeight/unite-grep.git
[submodule "vim/bundle/vim-unite-history"]
	path = vim/bundle/vim-unite-history
	url = git://github.com/thinca/vim-unite-history.git
[submodule "vim/bundle/vim-textobj-user"]
	path = vim/bundle/vim-textobj-user
	url = git://github.com/kana/vim-textobj-user.git
[submodule "vim/bundle/vim-textobj-rubyblock"]
	path = vim/bundle/vim-textobj-rubyblock
	url = git://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "vim/bundle/hatena"]
	path = vim/bundle/hatena
	url = git://github.com/motemen/hatena-vim.git
[submodule "vim/bundle/zencoding-vim"]
	path = vim/bundle/zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/coffeScript-VIM-Snippets"]
	path = vim/bundle/coffeScript-VIM-Snippets
	url = git://github.com/carlosvillu/coffeScript-VIM-Snippets.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/jasmine.vim"]
	path = vim/bundle/jasmine.vim
	url = git://github.com/claco/jasmine.vim.git
[submodule "vim/bundle/vim-jade"]
	path = vim/bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "zsh/auto-fu.zsh"]
	path = zsh/auto-fu.zsh
	url = git://github.com/hchbaw/auto-fu.zsh.git
[submodule "rsense"]
	path = rsense
	url = git://github.com/m2ym/rsense.git
[submodule "vim/bundle/vim-indent-guides"]
	path = vim/bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/bundle/vim-submode"]
	path = vim/bundle/vim-submode
	url = git://github.com/kana/vim-submode.git
[submodule "vim/bundle/vim-poslist"]
	path = vim/bundle/vim-poslist
	url = git://github.com/thinca/vim-poslist.git
[submodule "vim/bundle/vim-visualstar"]
	path = vim/bundle/vim-visualstar
	url = git://github.com/thinca/vim-visualstar.git
[submodule "vim/bundle/vim-easymotion"]
	path = vim/bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/bundle/vim-altr"]
	path = vim/bundle/vim-altr
	url = git://github.com/kana/vim-altr.git
[submodule "vim/bundle/vim-toggle"]
	path = vim/bundle/vim-toggle
	url = git://github.com/taku-o/vim-toggle.git
[submodule "vim/bundle/unite-outline"]
	path = vim/bundle/unite-outline
	url = git://github.com/h1mesuke/unite-outline.git
[submodule "vim/bundle/sudo.vim"]
	path = vim/bundle/sudo.vim
	url = git://github.com/vim-scripts/sudo.vim.git
[submodule "vim/bundle/vim-cucumber"]
	path = vim/bundle/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
