.vim/.netrwhist
.vimperator/info
.vim/.VimballRecord
.vim/backup/*
vim/backup/*
vim/.VimballRecord
vimperator/info
vim/.netrwhist
vim/doc/tags
vim/doc/tags-ja
vim/bundle/*/doc/tags
vim/bundle/*/doc/tags-ja
*.zwc
.svn
