snippet b
	Background:
	  ${1}

snippet f
	Feature: ${1:name}
		${2}

snippet t
	Then 

snippet g
	Given 

snippet so
	Scenario Outline: 

snippet w
	When 

snippet e
	Examples:
	  

snippet s
	Scenario: 

snippet a
	And 

